<%- include('../partials/header') %>
<link rel="stylesheet" href="/style/style-admin.css">
<div class="top-admin">
    <h1>Adicionar Novo Administrador</h1>
</div>
<main>
    <% if (message) { %>
        <p class="sucesso"><%= message %></p>
    <% } %>
    <form action="/admin/usuarios/add" method="POST" enctype="multipart/form-data">
        <input type="text" name="nome" placeholder="Nome" required>
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="password" name="senha" placeholder="Senha" required><br>
        <label>Foto:</label>
        <input type="file" name="fotoUsuario" required><br><br>
        <button type="submit" class="botao-principal">Cadastrar</button>
        <a href="/admin/usuarios" class="botao-voltar">← Voltar</a>
    </form>
</main>
<%- include('../partials/footer') %>